## Daily Adjusted Stock Prices: 52 Tradable Banks

##### Source: https://www.alphavantage.co/

In [1]:
import os
import sys
import pandas as pd

from iexfinance.stocks import Stock 
from iexfinance.refdata import get_symbols

conf_dir = os.path.join(os.getcwd(), '..', 'conf')
sys.path.append(conf_dir)

from local import Secrets

In [2]:
# List of banks
public_banks_df = pd.read_csv('../references/banks_tickers.txt', sep='\t',  skiprows = 1, names = ['Index', 'Name', 'Ticker'])
public_banks_df.head()

   Index                      Name Ticker
0      1       Ally Financial Inc.   ALLY
1      2      Associated Banc-Corp    ASB
2      3      Axos Financial, Inc.     AX
3      4  Banc of California, Inc.   BANC
4      5         BancorpSouth Bank    BXS

In [45]:
public_banks_df

    Index                                       Name Ticker
0       1                        Ally Financial Inc.   ALLY
1       2                       Associated Banc-Corp    ASB
2       3                       Axos Financial, Inc.     AX
3       4                   Banc of California, Inc.   BANC
4       5                          BancorpSouth Bank    BXS
5       6                Bank of America Corporation    BAC
6       7                 Bank of Hawaii Corporation    BOH
7       8  Bank Of New York Mellon Corporation (The)     BK
8       9                           BankUnited, Inc.    BKU
9      10                           BB&T Corporation    BBT
10     11              Berkshire Hills Bancorp, Inc.   BHLB
11     12                       Byline Bancorp, Inc.     BY
12     13                     Cadence Bancorporation   CADE
13     14          Capital One Financial Corporation    COF
14     15                        CIT Group Inc (DEL)    CIT
15     16                             Citigroup Inc.      C
16     17             Citizens Financial Group, Inc.    CFG
17     18                      Comerica Incorporated    CMA
18     19                Community Bank System, Inc.    CBU
19     20                                   CPB Inc.    CPF
20     21                 Cullen/Frost Bankers, Inc.    CFR
21     22                     Customers Bancorp, Inc   CUBI
22     23                         F.N.B. Corporation    FNB
23     24                   FB Financial Corporation    FBK
24     25               FCB Financial Holdings, Inc.    FCB
25     26   First Commonwealth Financial Corporation    FCF
26     27         First Horizon National Corporation    FHN
27     28                     Flagstar Bancorp, Inc.    FBC
28     29           Franklin Financial Network, Inc.    FSB
29     30                Great Western Bancorp, Inc.    GWB
30     31                      Hilltop Holdings Inc.    HTH
31     32                      J P Morgan Chase & Co    JPM
32     33                                    KeyCorp    KEY
33     34                       M&T Bank Corporation    MTB
34     35                           MFC Bancorp Ltd.   MFCB
35     36                           MidSouth Bancorp    MSL
36     37         National Bank Holdings Corporation   NBHC
37     38           New York Community Bancorp, Inc.   NYCB
38     39   PNC Financial Services Group, Inc. (The)    PNC
39     40                Prosperity Bancshares, Inc.     PB
40     41          Provident Financial Services, Inc    PFS
41     42              Regions Financial Corporation     RF
42     43                   State Street Corporation    STT
43     44                           Sterling Bancorp    STL
44     45                       SunTrust Banks, Inc.    STI
45     46                    Synovus Financial Corp.    SNV
46     47                  TCF Financial Corporation    TCF
47     48                               U.S. Bancorp    USB
48     49              Webster Financial Corporation    WBS
49     50                      Wells Fargo & Company    WFC
50     51            Western Alliance Bancorporation    WAL
51     52                  Zions Bancorporation N.A.    ZBK

In [4]:
# create list of ticker abbreviations for tradable banks
ticker_abbr = public_banks_df['Ticker']

In [7]:
ALPHA_VANTAGE_KEY = Secrets.ALPHA_VANTAGE_KEY

function = 'TIME_SERIES_DAILY'
symbol = ticker_abbr[0]
datatype = 'csv'

url = f"https://www.alphavantage.co/query?function={function}&symbol={symbol}&datatype={datatype}&apikey={ALPHA_VANTAGE_KEY}"

In [9]:
ally = pd.read_csv(url)
ally['ticker'] = ticker_abbr[0]

In [10]:
ally.head()

    timestamp   open   high      low  close   volume ticker
0  2019-07-15  31.84  32.31  32.1200  32.12    49608   ALLY
1  2019-07-12  31.84  32.35  31.8400  32.22  3451699   ALLY
2  2019-07-11  31.55  31.74  31.4300  31.68  6472682   ALLY
3  2019-07-10  31.50  31.51  31.2500  31.40  2770590   ALLY
4  2019-07-09  31.10  31.45  31.0325  31.40  3369860   ALLY

In [40]:
ALPHA_VANTAGE_KEY = Secrets.ALPHA_VANTAGE_KEY

function = 'TIME_SERIES_DAILY_ADJUSTED'
datatype = 'csv'

for bank in ticker_abbr: 
    symbol = bank
    url = f"https://www.alphavantage.co/query?function={function}&symbol={symbol}&datatype={datatype}&apikey={ALPHA_VANTAGE_KEY}"
    exec('{} = pd.read_csv(url)'.format(bank))